# Environment variables - NEVER commit these
.env
.env.local
.env.production
.env.docker

# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/
.env/

# pytest
.pytest_cache/
htmlcov/
.coverage
coverage.xml

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Alembic
# Keep versions but ignore pycache inside
app/alembic/versions/__pycache__/

# Distribution
dist/
build/
*.egg-info/

#  App log
app.log


packages/